@media print {
    /*
@page {
    size: 210mm 297mm;
    margin: 10mm;
}
*/
    body {
        width: 1200px!important;
    }
    div {
        float: left!important;
    }
    a[href]:after {
        content: ""!important;
    }
    footer {
        display: none!important;
    }
    #optionbox,
    .optionbutton,
    .deleteDb {
        display: none!important;
    }
}
